@import "tailwindcss";

@theme {
    --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

[x-cloak] {
    display: none;
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5; /* Make it look disabled */
    text-decoration: none;
}